apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    app.kubernetes.io/name: web
    app.kubernetes.io/component: admin
    app.kubernetes.io/part-of: docker-mailserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: web
      app.kubernetes.io/component: admin
      app.kubernetes.io/part-of: docker-mailserver
  template:
    metadata:
      labels:
        app.kubernetes.io/name: web
        app.kubernetes.io/component: admin
        app.kubernetes.io/part-of: docker-mailserver
    spec:
      automountServiceAccountToken: false
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: web
                    app.kubernetes.io/component: admin
                    app.kubernetes.io/part-of: docker-mailserver
                topologyKey: kubernetes.io/hostname
              weight: 1
      containers:
        - name: web
          image: jeboehm/mailserver-web:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: config-service-map
            - configMapRef:
                name: config-env
            - secretRef:
                name: secret-config-env
          env:
            - name: SKIP_INIT
              value: "true"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - /usr/local/bin/healthcheck.sh
            initialDelaySeconds: 45
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /login
              port: http
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          resources:
            requests:
              cpu: 50m
              memory: 196Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            runAsGroup: 1000
            runAsUser: 1000
          volumeMounts:
            - name: tmp
              mountPath: /tmp
              subPath: tmp
            - name: tmp
              mountPath: /opt/admin/var/cache/prod
              subPath: cache
            - name: tmp
              mountPath: /opt/admin/var/log
              subPath: log
            - name: tmp
              mountPath: /opt/roundcube/temp
              subPath: rc-temp
            - name: tmp
              mountPath: /opt/roundcube/logs
              subPath: rc-logs
            - name: tls-certs
              mountPath: /opt/admin/tls
      initContainers:
        - name: prepare-service
          image: jeboehm/mailserver-web:latest
          imagePullPolicy: IfNotPresent
          command:
            - /usr/local/lib/init.sh
          envFrom:
            - configMapRef:
                name: config-service-map
            - configMapRef:
                name: config-env
            - secretRef:
                name: secret-config-env
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            runAsGroup: 1000
            runAsUser: 1000
          volumeMounts:
            - name: tmp
              mountPath: /tmp
              subPath: tmp
            - name: tmp
              mountPath: /opt/admin/var/cache/prod
              subPath: cache
            - name: tmp
              mountPath: /opt/admin/var/log
              subPath: log
            - name: tmp
              mountPath: /opt/roundcube/temp
              subPath: rc-temp
            - name: tmp
              mountPath: /opt/roundcube/logs
              subPath: rc-logs
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: tls-certs
          secret:
            items:
              - key: tls.crt
                path: tls.crt
              - key: tls.key
                path: tls.key
            secretName: tls-certs
        - name: tmp
          emptyDir: {}
