version: '2'

services:
  db:
    image: jeboehm/mailserver-db:latest
    build: ./db
    restart: on-failure:5
    env_file: .env
    read_only: true
    tmpfs:
      - /tmp
    volumes:
      - data-db:/var/lib/mysql

  mta:
    image: jeboehm/mailserver-mta:latest
    build: ./mta
    restart: on-failure:5
    env_file: .env
    volumes:
      - data-tls:/media/tls:ro
    mem_limit: 128M

  mda:
    image: jeboehm/mailserver-mda:latest
    build: ./mda
    restart: on-failure:5
    env_file: .env
    volumes:
      - data-mail:/var/vmail
      - data-tls:/media/tls:rw
    mem_limit: 128M

  web:
    image: jeboehm/mailserver-web:latest
    build: ./web
    restart: on-failure:5
    env_file: .env
    read_only: true
    tmpfs:
      - /tmp
    links:
      - db
      - mda
      - mta

  spamassassin:
    image: jeboehm/mailserver-spamassassin:latest
    build: ./spamassassin
    restart: on-failure:5
    read_only: true
    tmpfs:
      - /run
      - /tmp

volumes:
  data-db:
    driver: local

  data-mail:
    driver: local

  data-tls:
    driver: local
