---
services:
  mailpit:
    image: axllent/mailpit:v1.27
    env_file: .env
    volumes:
      - data-tls:/etc/mailpit/tls:ro
    environment:
      - MP_SMTP_TLS_CERT=/etc/mailpit/tls/tls.crt
      - MP_SMTP_TLS_KEY=/etc/mailpit/tls/tls.key
  fetchmail:
    links:
      - mda:mda.local

  test:
    image: jeboehm/mailserver-test:latest
    build: ./test/bats
    volumes:
      - data-mail:/srv/vmail:ro
      - data-tls:/media/tls:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # For development
      - ./test/bats/integration:/app/tests:ro
    env_file: .env
    depends_on:
      - mailpit
      - fetchmail

  # For development
  # web:
  #   volumes:
  #     - ./web/rootfs/etc/nginx/nginx.conf.templ:/etc/nginx/nginx.conf.templ:ro
  #   ports:
  #     - "0.0.0.0:81:80"
