version: '2'

services:
  db:
    image: jeboehm/mailserver-db:latest
    build: ./db
    restart: on-failure:5
    env_file: .env
    tmpfs:
      - /var/log
    volumes:
      - data-db:/var/lib/mysql

  mta:
    image: jeboehm/mailserver-mta:latest
    build: ./mta
    restart: on-failure:5
    env_file: .env
    links:
      - db
      - mda
    volumes:
      - data-tls:/media/tls:ro

  mda:
    image: jeboehm/mailserver-mda:latest
    build: ./mda
    restart: on-failure:5
    env_file: .env
    read_only: true
    tmpfs:
      - /etc/dovecot
      - /run
      - /var/lib/dovecot
      - /tmp
    volumes:
      - data-mail:/var/vmail
      - data-tls:/media/tls:rw
    links:
      - db

  manager:
    image: jeboehm/mailserver-manager:latest
    build: ./manager
    restart: on-failure:5
    env_file: .env
    links:
      - db

  webmail:
    image: jeboehm/mailserver-webmail:latest
    build: ./webmail
    restart: on-failure:5
    env_file: .env
    read_only: true
    tmpfs:
      - /var/www/html/temp
      - /var/www/html/logs
    links:
      - db
      - mda
      - mta

  web:
    image: jeboehm/mailserver-web:latest
    build: ./web
    restart: on-failure:5
    env_file: .env
#    read_only: true
    tmpfs:
      - /var/cache/nginx
      - /var/run
    links:
      - webmail
      - manager

volumes:
  data-db:
    driver: local

  data-mail:
    driver: local

  data-tls:
    driver: local
