---

services:
  # Creates self signed tls certificates. Remove if you
  # use your own.
  ssl:
    image: jeboehm/mailserver-ssl:latest
    build:
      context: ./ssl
      cache_from:
        - jeboehm/mailserver-ssl:latest
        - type=gha
      cache_to:
        - type=gha,mode=max
    env_file: .env
    volumes:
      - data-tls:/media/tls:rw

  # Responsible for storing users and their aliases. Remove
  # if you already have a MySQL server.
  db:
    image: mysql:lts
    restart: on-failure:5
    env_file: .env
    volumes:
      - ./db/rootfs/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro
      - data-db:/var/lib/mysql

  # The Mail Transfer Agent (Postfix) receives incoming mail
  # on TCP port 25.
  mta:
    image: jeboehm/mailserver-mta:latest
    build:
      context: ./mta
      cache_from:
        - jeboehm/mailserver-mta:latest
        - type=gha
      cache_to:
        - type=gha,mode=max
    restart: on-failure:5
    env_file: .env
    volumes:
      - data-tls:/media/tls:ro
      # For using external certificates uncomment the following lines
      # and change the path on the left side of the colon.
      # - /home/user/certs/mail.example.com.crt:/media/tls/mailserver.crt:ro
      # - /home/user/certs/mail.example.com.key:/media/tls/mailserver.key:ro

  # The Mail Delivery Agent (Dovecot) is responsible for storing
  # incoming mail into a users mailbox and also delivers them
  # via POP3 or IMAP4.
  mda:
    image: jeboehm/mailserver-mda:latest
    build:
      context: ./mda
      cache_from:
        - jeboehm/mailserver-mda:latest
        - type=gha
      cache_to:
        - type=gha,mode=max
    restart: on-failure:5
    env_file: .env
    volumes:
      - data-mail:/var/vmail
      - data-tls:/media/tls:ro
      # For using external certificates uncomment the following lines
      # and change the path on the left side of the colon.
      # - /home/user/certs/mail.example.com.crt:/media/tls/mailserver.crt:ro
      # - /home/user/certs/mail.example.com.key:/media/tls/mailserver.key:ro

  # The admin (mailserver-admin) and webmail (roundcube) interfaces
  # live here. Can be removed if not needed.
  web:
    image: jeboehm/mailserver-web:latest
    build:
      context: ./web
      args:
        # Roundcube plugins can be added here.
        # See https://packagist.org/?type=roundcube-plugin
        RC_PLUGINS: "johndoh/contextmenu jfcherng-roundcube/show-folder-size"
      cache_from:
        - jeboehm/mailserver-web:latest
        - type=gha
      cache_to:
        - type=gha,mode=max
    restart: on-failure:5
    env_file: .env
    # For use with jwilder/nginx-proxy.
    # environment:
    #   - VIRTUAL_HOST=mail.example.com

  # Incoming spam is (hopefully) filtered by rspamd which runs
  # in this service.
  filter:
    image: jeboehm/mailserver-filter:latest
    build:
      context: ./filter
      cache_from:
        - jeboehm/mailserver-filter:latest
        - type=gha
      cache_to:
        - type=gha,mode=max
    restart: on-failure:5
    env_file: .env
    volumes:
      - data-filter:/var/lib/rspamd
    links:
      - virus:virus.local

  # Incoming viruses or malware is detected and rejected by
  # this service. Can be removed if FILTER_VIRUS is set to false.
  virus:
    image: jeboehm/mailserver-virus:latest
    build:
      context: ./virus
      cache_from:
        - jeboehm/mailserver-virus:latest
        - type=gha
      cache_to:
        - type=gha,mode=max
    restart: on-failure:5
    env_file: .env
    volumes:
      - data-virusdb:/var/lib/clamav

  redis:
    image: redis:7.4-alpine
    restart: on-failure:5
    command:
      - redis-server
      - --requirepass
      - ${REDIS_PASSWORD}
    env_file: .env
    volumes:
      - data-redis:/data

  # If you want unhealthy containers to be restarted automatically
  # just uncomment the following lines.
  # autoheal:
  #   image: willfarrell/autoheal:latest
  #   restart: always
  #   networks: []
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #   environment:
  #     - AUTOHEAL_CONTAINER_LABEL=de.ressourcenkonflikt.docker-mailserver.autoheal

  # Optional service: extend ClamAV (used in the virus service)
  # by downloading additional databases provided by different
  # companys. Run it regulary.
  # virus_unof_sig_updater:
  #   build: ./virus/contrib/unofficial-sigs
  #   env_file: .env
  #   volumes:
  #     - data-virusdb:/var/lib/clamav

volumes:
  data-db:
  data-mail:
  data-tls:
  data-filter:
  data-virusdb:
  data-redis:
