---
# Include all service definitions from separate files
include:
  - deploy/compose/ssl.yaml
  - deploy/compose/mta.yaml
  - deploy/compose/mda.yaml
  - deploy/compose/web.yaml
  - deploy/compose/filter.yaml
  - deploy/compose/fetchmail.yaml
  - deploy/compose/unbound.yaml
  - deploy/compose/db.yaml
  - deploy/compose/redis.yaml

  # If you want unhealthy containers to be restarted automatically
  # just uncomment the following lines.
  # services:
  #   autoheal:
  #     image: willfarrell/autoheal:latest
  #     restart: always
  #     networks: []
  #     volumes:
  #       - /var/run/docker.sock:/var/run/docker.sock:ro
  #     environment:
  #       - AUTOHEAL_CONTAINER_LABEL=de.ressourcenkonflikt.docker-mailserver.autoheal

volumes:
  data-db:
  data-mail:
  data-tls:
  data-filter:
  data-redis:
  data-spool:
