{{ $filter_virus := eq (or ($.Env.FILTER_VIRUS) "") "true" }}

{{ if $filter_virus }}
clamav {
 scan_mime_parts = false;
 symbol = "CLAM_VIRUS";
 type = "clamav";
 action = "reject";
 servers = "{{$.Env.FILTER_VIRUS_HOST}}:3310";
}
{{ end }}
