services:
  # The admin (mailserver-admin) and webmail (roundcube) interfaces
  # live in the web service. Required for provisioning the database.
  web:
    image: jeboehm/mailserver-web:latest
    build:
      context: ../../target/web
      args:
        # Roundcube plugins can be added here.
        # Documentation available at docs/configuration/roundcube.md
        RC_PLUGINS: "johndoh/contextmenu jfcherng-roundcube/show-folder-size"
      cache_from:
        - type=registry,ref=ghcr.io/jeboehm/mailserver-web:buildcache
    restart: on-failure:5
    env_file: ../../.env
    security_opt:
      - no-new-privileges
    depends_on:
      - redis
    read_only: true
    tmpfs:
      - /opt/admin/var/cache/prod:mode=0777
      - /opt/admin/var/log:mode=0777
      - /opt/roundcube/temp:mode=0777
      - /opt/roundcube/logs:mode=0777
      - /tmp:mode=0777
    volumes:
      - data-tls:/opt/admin/tls:ro
      # For using external certificates uncomment the following lines
      # and change the path on the left side of the colon.
      # - /home/user/certs/mail.example.com.crt:/opt/admin/tls/tls.crt:ro
      # - /home/user/certs/mail.example.com.key:/opt/admin/tls/tls.key:ro
