services:
  # The admin (mailserver-admin) and webmail (roundcube) interfaces
  # live in the web service. Required for provisioning the database.
  web:
    image: jeboehm/mailserver-web:latest
    build:
      context: ../../target/web
      args:
        # Roundcube plugins can be added here.
        # See https://packagist.org/?type=roundcube-plugin
        RC_PLUGINS: "johndoh/contextmenu jfcherng-roundcube/show-folder-size"
      cache_from:
        - type=registry,ref=ghcr.io/jeboehm/mailserver-web:buildcache
    restart: on-failure:5
    env_file: ../../.env
    security_opt:
      - no-new-privileges
    depends_on:
      - redis
    read_only: true
    tmpfs:
      - /opt/admin/var/cache/prod:mode=0777
      - /opt/admin/var/log:mode=0777
      - /opt/roundcube/temp:mode=0777
      - /opt/roundcube/logs:mode=0777
      - /tmp:mode=0777
    # For use with jwilder/nginx-proxy.
    # environment:
    #   - VIRTUAL_HOST=mail.example.com
