name: Sync Dockerhub Readme
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - README.md
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
jobs:
  sync:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository:
          - jeboehm/mailserver-filter
          - jeboehm/mailserver-mda
          - jeboehm/mailserver-mta
          - jeboehm/mailserver-web
          - jeboehm/mailserver-unbound
          - jeboehm/mailserver-ssl
          - jeboehm/mailserver-db # deprecated
          - jeboehm/mailserver-virus # deprecated
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ matrix.repository }}
          enable-url-completion: true
          short-description: docker-mailserver is inspired by the renowned ISPMail guide.
