name: Build and deploy documentation
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
      - ".mkdocs.yaml"
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  build_documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.14"
          cache: "pip"
          cache-dependency-path: docs/requirements.txt
      - name: Install mkdocs
        run: pip install -r docs/requirements.txt
      - name: Build documentation
        if: ${{ github.event_name == 'pull_request' }}
        run: mkdocs build --strict -f .mkdocs.yaml
      - name: Configure git
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Publish documentation
        if: ${{ github.event_name != 'pull_request' }}
        run: mkdocs gh-deploy --strict --force -f .mkdocs.yaml
