name: Sync branch main to next
on:
  push:
    branches:
      - main
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: false
jobs:
  sync-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Sync branch main to next
        uses: devmasx/merge-branch@854d3ac71ed1e9deb668e0074781b81fdd6e771f # 1.4.0
        with:
          from_branch: main
          target_branch: next
          type: now
          github_token: ${{ secrets.GITHUB_TOKEN }}
