name: Matrix test application
on:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        BUILD_CASE:
          - virus_disabled
          - virus_enabled
          - relayhost
          - fts_disabled
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Prepare environment
        run: |
          make .env
          cat .github/test-matrix/${{ matrix.BUILD_CASE }}.env >> .env
      - name: Add WAITSTART_TIMEOUT variable in .env with 10m
        run: echo "WAITSTART_TIMEOUT=10m" >> .env
      - name: Output environment
        run: cat .env
      - name: Pull and build images
        run: |
          export BUILDX_BUILDER=${{ steps.buildx.outputs.name }}
          make build
      - name: Start docker-mailserver services
        run: bin/production.sh up -d
      - name: Load database fixtures
        run: make fixtures
      - name: Run tests
        run: |
          export BUILDX_BUILDER=${{ steps.buildx.outputs.name }}
          bin/test.sh run --rm test
      - name: Collect logs
        if: failure()
        run: |
          make logs
          docker ps -a
  test_build_unofficial_sigs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: virus/contrib/unofficial-sigs
          platforms: linux/amd64,linux/arm64
          push: false
          tags: virus-unofficial-sigs:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
  lint_files:
    permissions:
      contents: read
      packages: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Super-Linter
        uses: super-linter/super-linter@12150456a73e248bdc94d0794898f94e23127c88 # v7.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_SQLFLUFF: false
          VALIDATE_JSCPD: false
          VALIDATE_PHP_PSALM: false
          VALIDATE_PHP_PHPCS: false
          VALIDATE_CHECKOV: false
          FIX_SHELL_SHFMT: false
          FIX_YAML_PRETTIER: false
  validate_renovate_config:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            renovate.json
          sparse-checkout-cone-mode: false
      - name: Run renovate-config-validator
        run: npx --yes --package renovate -- renovate-config-validator
